
/*=========================================================

Typography 

=========================================================*/


html {
	color: #303030;
}

a {
	color: #62d8ff;
}

/*=========================================================

Header Component

=========================================================*/

header {
	background-color: #56346b;	
	padding: 1rem;
	color: #D0D0D0;
}

/*=========================================================

Footer Component

=========================================================*/

footer {
	background-color: #0a001b;
	padding: 2rem;
	color: #D0D0D0;
}

