/*
improve spinning icon
clean up extra notes to remind me to complete this
 */

/*=========================================================

Colors

=========================================================*/

html {
	--color-light-blue:	#62d8ff;
	--color-blue: #11A6CC;
	--color-dark-blue: #00779b;
	--color-light-purple: #56346b;
	--color-purple: #2B0C40;
	--color-dark-purple: #0a001b;
	--color-light-pink: #f56ab0;
	--color-pink: #BF3681;
	--color-dark-pink: #8b0055;
	--color-light-yellow: #ffef98;
	--color-yellow: #FABD68;
	--color-dark-yellow: #c48d3a;
	--color-dark-text: #303030;
	--color-mid-text: #4E4E4E;
	--color-light-text: #D0D0D0;
}


/*=========================================================

Typography 

=========================================================*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Rubik:400,400i,700,900&display=swap&subset=latin-ext');


html {
	--ratio: 1.4;

	--size-xxlarge: calc( var(--size-xlarge) * var(--ratio));
	--size-xlarge: calc( var(--size-large) * var(--ratio) );
	--size-large: calc( var(--size-medium) * var(--ratio) );
	--size-medium: calc( 1rem * var(--ratio));
	--size-small: 1rem;
	--size-xsmall: calc( 1rem / 1.2);
	--size-feature: calc( 1rem * 1.1);
	--size-feature-bold: calc( 1rem * 1.3);
	--size-tertiary: calc( 1rem / 1.1);

	--font-primary: Rubik, Helvetica, sans-serif;
	--font-secondary: Raleway, Helvetica, sans-serif;

	color: var(--color-dark-text);
	font-family: var(--font-primary);
	line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {

	color: var(--color-dark-text);
	font-family: var(--font-secondary);
	font-weight: bold;
	line-height: 1.1;
	margin-top: 3.5rem;
	text-transform: lowercase;
}

h1 {
	font-size: var(--size-xxlarge);
}

h2 {
	font-size: var(--size-xlarge);
}

h3 {
	font-size: var(--size-large);
}

h4 {
	font-size: var(--size-medium);
}

h5 {
	font-size: var(--size-small);
}

h6 {
	font-size: var(--size-xsmall);
}

h1:first-letter, h2:first-letter, h3:first-letter, h4:first-letter, h5:first-letter, h6:first-letter {
	color: var(--color-blue);
} 

a {
	border-bottom: 1px dotted var(--color-blue);
	text-decoration: none;
	color: var(--color-blue);
}


a:visited {
	color: var(--color-pink);
}

.standout-text {
	font-size: var(--size-feature);
	font-weight: bold;
}

.standout-text strong {
	font-size: var(--size-feature-bold);
}

.tertiary-text {
	font-size: var(--size-tertiary);
	font-style: italic;
}

.tertiary-text em {
	font-style: normal;
}

ul {
	font-size: var(--size-feature-bold);
	color: var(--color-purple);
	list-style: disc;
}

ul ul {
	color: var(--color-dark-blue);
	font-size: var(--size-feature);
	list-style: disc;
}

ol {
	color: var(--color-purple);
	font-size: var(--size-feature-bold);
	list-style: lower-alpha;
}

ol ol {
	color: var(--color-dark-blue);
	font-size: var(--size-feature);
}

blockquote {
	color: var(--color-purple);
	font-size: var(--size-medium);
	font-weight: bold;
	text-align: center;
}

blockquote cite {
	font-size: var(--size-tertiary);
	font-style: italic;
	text-align: right;
}

blockquote:before{
	content: '❞';
	font-size: var(--size-xlarge);
	text-align: center;
	display: block;	

}

blockquote:after {
	content: '❝';
	font-size: var(--size-xlarge);
	text-align: center;
	display: block;

}

@media (min-width: 600px) {

	html {
		--ratio: 1.55;
	}

}

/*=========================================================

Section Primary Component

=========================================================*/

.section-primary {
	border-top: 2px solid var(--color-light-purple);
	margin-top: 2rem;
}

/*=========================================================

Header Component

=========================================================*/

header {
	background-color: var(--color-light-purple);	
	color: var(--color-light-text);
	padding: 1rem;
	margin-bottom: 8rem;
}

header a {
	border: none;
	color: var(--color-light-blue);
}

header a:visited {
	color: var(--color-light-blue);
}

header .logo:visited {
	color: white;
}

@media (min-width: 600px){

	header ul {
		padding: 0;
	}

	header li {
		display: inline;
		margin-right: 1rem;
	}
}

.logo {
	color: white;
	display: block;
    font-family: var(--font-secondary);
	font-size: var(--size-xlarge);
    font-weight: bold;
    line-height: 1.1;
    margin-top: 3.5rem;
    text-transform: lowercase;
}

.logo::first-letter {
	color: var(--color-light-blue);
}

.active-page {
	font-weight: bold;
}
/*=========================================================

Footer Component

=========================================================*/

footer {
	background-color: var(--color-dark-purple);
	color: var(--color-light-text);
	padding: 2rem;
	margin-top: 8rem;
}

/*=========================================================

Page Layout

=========================================================*/

main {
	margin: 2rem 1rem;
	
}

body {
	margin: 0;
}

@media (min-width: 608px) {

	main {
		max-width: 36rem;

	}
}

@media (min-width: 680px) {

	main {
		margin: auto;
		max-width: 40rem;
	}
}

/*=========================================================

Link Buttons 

=========================================================*/

.link-button {
	background-color: var(--color-light-purple);
	border-radius: .5em;
	box-shadow: 4px 4px var(--color-blue);
	display: inline-block;
	margin: 1rem;
	padding: .75rem;
	text-transform: lowercase;
	transition: all .5s ease;
}

.link-button-primary {
	color: white;
	font-size: var(--size-feature-bold);
	padding: 1.5rem;
}

.link-button-secondary {
	color: var(--color-light-text);
}

.link-button-tertiary {
	background-color: transparent;
	border: 2px solid;
	border-color: var(--color-blue);
	box-shadow: 4px 4px var(--color-light-purple);
	color: var(--color-light-purple);
}

.link-button:hover, .link-button:focus {
	background-color: var(--color-blue);
	color: white;
	outline-color: var(--color-blue);
}

.link-button-primary:hover, .link-button-primary:focus {
	box-shadow: 4px 4px var(--color-light-purple);
	color: var(--color-light-purple);
}

.link-button-secondary:hover, .link-button-secondary:focus {
	box-shadow: 4px 4px var(--color-light-purple);
}

.link-button:active {
	box-shadow: 4px 4px var(--color-mid-text) inset;
	border: none;
	transform: scale(.9);
	transition: all .5s ease;
}

.link-button-primary:visited, .link-button-secondary:visited {
	color: var(--color-light-yellow);
}

/*=========================================================

Accordions

=========================================================*/

details {
	border-bottom: 1px solid var(--color-light-blue);
	transition: all 1s ease-in;
}

summary {
	border-bottom: 1px solid transparent;
	font-size: var(--size-medium);
	margin: 1rem;
	padding: 1rem;
}

details div {
	padding: 1rem;
	transition: all 1s ease-in;
}

details[open] {
	margin-top: 4rem;
	transition: all 1s ease-in;
}

summary::-webkit-details-marker {
     background: url(images/star.svg);
     color: transparent;
     background-size: contain;
     display: inline-block;
     transition: all 1s ease-in;
     transform-origin: 4rem 4rem;
}

details[open] summary::-webkit-details-marker {
	transform: rotate(45deg) scale(1.5);
	transition: all 1s ease-in;
}

summary:focus {
	outline: none;
	border-bottom: 2px solid #f56ab0; 
}


/*=========================================================

Modal Dialog

=========================================================*/

dialog[open] {
	animation: left-move-in .75s ease-out;
	border-radius: .5em;
	border-color: var(--color-purple);
	text-align: center;
}

dialog[open]::backdrop {
	animation: fade-in 1s ease;
	animation-fill-mode: forwards;
}

dialog::backdrop {
	background-color: #56346b;
	background-image:
	url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
	opacity: 0.5;

}

dialog h4 {
	margin: 1rem;
}

@keyframes left-move-in {

	0% {
		opacity: 0;
		transform: translatex(-40rem);
	}

	70% {
		transform: translatex(1rem);
	}

	100% {
		opacity: 1;
		transform: translatex(0);
	}
}

@keyframes fade-in {
	
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0.5;
	}
}

/*=========================================================

Forms

=========================================================*/

label, input, textarea, select {
	display: block;
}


input[type=submit], button {
	background-color: var(--color-light-purple);
	border-radius: .5em;
	box-shadow: 4px 4px var(--color-blue);
	color: white;
	display: inline-block;
	margin: 1rem;
	padding: .75rem;
	text-transform: lowercase;
	transition: all .5s ease;
}

input:not([type=submit]), textarea, select {
	margin-bottom: 1rem;
	border: 1px solid var(--color-light-blue);
	border-radius: .5em;
	padding: .5rem;
}

input:not([type=submit]), textarea {
	min-width: 100%;
}

textarea {
	min-height: 5rem;
}

label {
	margin-bottom: .25rem;
}

.form-detail-text {
	font-size: var(--size-tertiary);
	font-style: italic;
	margin-bottom: .25rem;
	margin-top: -.25rem;
}

input[disabled], select[disabled], textarea[disabled] {
	background-color: rgba(86,52,107,0.2);
	border-color: var(--color-dark-purple);
	cursor: not-allowed;
}

input.error, .error {
	border-color: var(--color-pink);
}

.error-text {
	color: var(--color-pink);
	font-size: var(--size-xsmall);
	margin-top: -.75rem;
	text-transform: lowercase;
}

input:focus, select:focus, textarea:focus {
	outline: none;
	box-shadow: 0 0 0 2px #11A6CC;
}

input[type="submit"]:active  {
	box-shadow: 4px 4px var(--color-mid-text) inset;
	border: none;
	transform: scale(.9);
	transition: all .5s ease;
}

input[type="submit"]:hover, input[type="submit"]:focus {
	background-color: var(--color-blue);
	box-shadow: 4px 4px var(--color-light-purple);
	color: var(--color-light-purple);
}
@media(min-width:500px) {

	input:not([type=submit]), textarea {
		min-width: 70%;
	}

}

/*=========================================================

Information Card

=========================================================*/

.card-info {
	background-color: black;
	color: white;
	display: block;
	margin-bottom: 2rem;
	min-height: 430px;
	overflow: hidden;
	padding: 1rem 3rem;
	position: relative;
	z-index: 0;
}

.card-info:before {
	bottom: 0;
	content:"";
	display: block;
	background-image: url(images/concert-photo2.jpg);
	background-position: center;
	background-size: cover;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all .5s ease;
	z-index: -1;
}

.card-info h2 {
	color: white;
	z-index: 1000;
}

.card-info h2:first-letter {
	color: var(--color-pink)
}

.card-info p {
	color: var(--color-light-blue);
	opacity: 0;
	transition: all .5s ease;
	z-index: 1000;
}

.card-info:hover p, .card-info:focus  p {
	opacity: 1;
	transition: all .5s ease;
}

.card-info:hover:before, .card-info:focus:before {
	opacity: .4;
	transform: scale(1.05);
	transition: all .5s ease;
} 

.card-info .tertiary-text {
	bottom: 1rem;
	text-align: right;
	position: absolute;
	right: 3rem;
}

/*=========================================================

person card

=========================================================*/

.card-person {
	background-color: black;
	color: white;
	display: block;
	margin-bottom: 2rem;
	min-height: 430px;
	overflow: hidden;
	padding: 1rem 3rem;
	position: relative;
	z-index: 0;
}

.card-person:before {
	bottom: 0;
	content:"";
	display: block;
	background-image: url(images/party-girl.jpg);
	background-position: center;
	background-size: cover;
	left: 0;
	opacity: .4;
	position: absolute;
	right: 0;
	top: 0;
	transition: all .5s ease;
	z-index: -1;
}

.card-person h2 {
	color: white;
	z-index: 1000;
}

.card-person h2:first-letter {
	color: var(--color-pink)
}

.card-person p {
	color: var(--color-light-blue);
	transition: all .5s ease;
	z-index: 1000;
}

.card-person:hover:before, .card-person:focus:before {
	opacity: 1;
	transform: scale(1.05);
	transition: all .5s ease;
} 

.card-person .tertiary-text {
	display: block;
}

.card-person:hover .tertiary-text, .card-person:focus .tertiary-text {
	opacity: 0;
}

.card-person blockquote {
	color: white;
	opacity: 0;
	text-shadow: 2px 2px 0 black;
}

.card-person:hover blockquote, .card-person:focus blockquote {
	opacity: 1;

}

/*=========================================================

Notifications

=========================================================*/

.notifications-error {
	background: rgba(245, 106, 176, .2);
	border: 2px solid  var(--color-dark-pink);
	padding: 1rem;
}

.notifications-error, .notifications-warning, .notifications-neutral, .notifications-success {
	border-radius: .5em;
	margin-bottom: 2rem;
}

.notifications-error h4, .notifications-warning h4, .notifications-neutral h4, .notifications-success h4 {
	margin-bottom: 1rem;
	margin-top: 0;
}

.notifications-error p, .notifications-warning p, .notifications-neutral p, .notifications-success p {
	margin-left: 2rem;
}

.notifications-error-text, .notifications-warning-text, .notifications-neutral-text, .notifications-success-text {
	display: flex;
}

.notifications-warning {
	border: 2px solid  var(--color-dark-pink);
	padding: 1rem;
}

.notifications-neutral {
	border: 2px solid  var(--color-dark-blue);
	padding: 1rem;
}

.notifications-success {
	border: 2px solid  var(--color-light-blue);
	padding: 1rem;
}

/*=========================================================

Examples

=========================================================*/

.examples-secondary-font {	
	font-family: var(--font-secondary);
}
